#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.data-containers {
  display: flex;
  min-height: 100vh;
  background-color: #f4f6f8;
  gap: 40px;
  margin: 48px;
}

.data-containers .detail {
  border: silver;
  flex: 1;
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  padding: 20px;
}

.data-containers .preview {
  flex: 2;
  background-color: #f9fafb;
  padding: 20px;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.08);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.buttons button {
  background-color: #007bff;
  color: white;
  border-radius: 10%;
  cursor: pointer;
}

.buttons button:hover {
  color: black;
}
